/* Google font - Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: #000;
    color: #fff;
    position: relative;
}

.navbar{
    width: 90%;
    height: 20vh;
    margin: auto;
    display: flex;
    align-items: center;
}

nav {
    flex: 1;
    text-align: left;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    padding: 5px 2px;
}

nav ul li a:hover {
    color: darkolivegreen;
}

.row {
    width: 80%;
    min-height: 85vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.col {
    margin: 20px 0;
    flex-basis: 50%;
    min-width: 300px;
    height: 100%;
    position: relative;
}

.text-box {
    max-width: 400px;
    margin-top: 100px;
}

.text-box h5 {
    color: #fff;
}